<!DOCTYPE html>
<html>
<head>
    
<title>Welp</title>

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= render 'layouts/bootstrap'%>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>
<body>

<%= render 'layouts/navbar'%>

<div class="container-fluid">


<p class="alert"><%= alert %></p>

<%= yield %>

<%= render 'layouts/footer'%>

</div>

</body>
</html>
